.cookie-popup{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

.cookie-popup a{
    display: inline-block;
    padding: 10px 0;
    color: #007bff; /*otro azul #0aa5ec*/
    text-decoration: underline;
}
.cookie-popup button{
    margin: 0 10px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #474747;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.cookie-popup button:hover{
    background-color: #444;
}

@media screen and (max-width: 770px){
    .cookie-popup p{
        display: none;
        
    }
    .cookie-popup button{
        width: 100%;
        flex-direction: column;
    }
}

/*Estilos popupcookies personalizadas*/
.cookie-personalizar-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #272727;
    color: #e0e0e0;
    padding: 30px;
    border-radius: 10px;
    z-index: 1101;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    width: 90%;
    max-width: 400px;
    font-family: 'Times New Roman', Times, serif;
}

.cookie-personalizar-popup .popup-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cookie-personalizar-popup label{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.popup-buttons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cookie-personalizar-popup button{
    flex: 1;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cookie-personalizar-popup button:hover{
    background-color: #444;
}

.fade{
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.fade.hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}