form {
    background: #fafafa;
    padding: 2rem;
    margin: 2rem auto;
    width: fit-content; /* Ajustamos el formulario al contenido */
    max-width: 500px; /* Límite máximo */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

form textarea {
    resize: vertical; /* Solo redimensiona verticalmente */
    min-height: 100px;
    max-height: 400px;
}

form button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #0aa5ec;
    color: #fafafa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-mensaje {
    color: green;
    margin-top: 1rem;
    text-align: center;
}