/* body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #222;
    transition: background-color 0.4s ease, color 0.4 ease;
    text-align: center;
    padding: 50px;
} */

#toggleTema{
    padding: 10px 10px;
    font-size: 16px;
    background-color: #222;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#toggleTema:hover{    
    background-color: #444;
}

.oscuro #banner{
    background: #333;
    color: #e0e0e0;
}

/* Estilos para los íconos */
.icono-claro{
    display: inline; /* Mostrar el ícono de sol en modo claro */
}

.icono-oscuro{
    display: none; /* Ocultar el ícono de luna en modo claro */
}

body.oscuro .icono-claro{
    display: none; /* Ocultar el ícono de sol en modo oscuro */
}

body.oscuro .icono-oscuro{
    display: inline; /* Mostrar el ícono de luna en modo oscuro */
}

/* Modo oscuro general */
.oscuro{
    background-color: #333;
}

.oscuro footer{
    background: #333;
    color: #e0e0e0;
}

.oscuro footer .iconos a:hover {
    color: #e0e0e0;
}

.oscuro section p{
    color: #e0e0e0;
}

.oscuro .cookie-popup{
    background-color: #fff;
    color: #333;
}


