/* body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #222;
    transition: background-color 0.4s ease, color 0.4 ease;
    text-align: center;
    padding: 50px;
} */

/* button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #222;
    color: white;
    border-radius: 5px;
    cursor: pointer;
} */

/* Ajustes para el botón en modo oscuro */
body.oscuro .switchBtn input:checked + .slidebtn {
    background-color: #333; /* Color diferente para modo oscuro, si lo deseas */
}

.oscuro{
    background-color: #333;
}

.oscuro footer{
    background: #333;
    color: #e0e0e0;
}

.oscuro footer .iconos a:hover {
    color: #e0e0e0;
}

.oscuro section p{
    color: #e0e0e0;
}

.oscuro .cookie-popup{
    background-color: #fff;
    color: #333;
}

#banner.oscuro{
    background: #333;
    color: #e0e0e0;
}