/* body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #222;
    transition: background-color 0.4s ease, color 0.4 ease;
    text-align: center;
    padding: 50px;
} */

/* button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #222;
    color: white;
    border-radius: 5px;
    cursor: pointer;
} */

/* Ajustes para el botón en modo oscuro */
body.oscuro .switchBtn input:checked + .slidebtn {
    background-color: #333; /* Color diferente para modo oscuro, si lo deseas */
}

/* Estilos para el interruptor de modo oscuro */
.switchBtn {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switchBtn input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slidebtn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slidebtn:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slidebtn {
    background-color: #2196F3;
}

input:checked + .slidebtn:before {
    transform: translateX(26px);
}

/* Estilo para el modo oscuro */
.oscuro input:checked + .slidebtn {
    background-color: #555;
}

/* Modo oscuro general */
.oscuro{
    background-color: #333;
}

.oscuro footer{
    background: #333;
    color: #e0e0e0;
}

.oscuro footer .iconos a:hover {
    color: #e0e0e0;
}

.oscuro section p{
    color: #e0e0e0;
}

.oscuro .cookie-popup{
    background-color: #fff;
    color: #333;
}

#banner.oscuro{
    background: #333;
    color: #e0e0e0;
}
