*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2rem;
    background-color: #e0e0e0;
    color: #333;
}

h1{
    font-size: 300%;
}

body p{
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: #fafafa;
    color: #474747;
    text-align: justify;
    margin: 3%;
    padding: 3%;
    line-height: 200%;
}

a{
    color:#0aa5ec;
}
