*{
    margin: 0;
    padding: 0;
}

/* Quitamos la decoración de los enlaces y de las listas */
ul, li, a{
    text-decoration: none;
    list-style: none;
}

header{
    text-align: center;
    padding: 3em;
    background-color: aqua;
}

#titulo{
    margin-bottom: 0.5em;
}

#titulo a{
    color: #474747;
}

#titulo h1{
    font-family: 'Century Gothic', sans-serif;
    color: #333;
    font-size: 300%;
}

nav{
    display: block;
    cursor: default;
    background-color: #474747;
    padding: 1em;
    
}

#menu{
    text-align: center;
}

#menu li{
    display: inline-block;
}

#menu li a{
    color: #e0e0e0;
    font-size: 16px;
    padding: 10px 14px;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
}

#menu li a:hover{
    background-color: #fff;
    color: #474747;
    border-radius: 5px;
}

/*las propiedades son solo para mostrarlo en la web, es provisional */
#banner{
    height: 20em;
    background-color: #676767;
}

.seccion1{
    height: 20em;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.seccion2{
    height: 15em;
    background-color: #474747;
    color: #fff;
    text-align: center;
}

footer{
    height: 10em;
    background-color: #fff;
    color: #333;
    text-align: center;
}