*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colum{
    float: left;
    width: 25%;
    padding: 20px;
}

@media screen and (max-width:992px){
    .colum{
        width: 50%;
    }

}

@media screen and (max-width:600px){
    .colum{
        width: 100%;
    }
}