*{
    padding: 0;
    margin: 0;
}

/* % */

div {
    width: 50%; /* Ocupa el 50% del contenedor padre */
    padding: 10%;
}

/* rem -> Root em */

/* 
<html> -> tiene 16px por defecto

1rem = 16px

1.5rem = 16 * 1.5 = 24px

- Muy útil para tamaños de fuentes

- Espaciados

- Evitar herencia indeseada

*/

html {
    font-size: 16px;
}

p{
    font-size: 1.5rem;
}

/* Unidad em -> Relative to Parent 
- Cuidado cuando se utiliza herencia

*/

body{
    font-size: 16px;
}

section{
    font-size: 1.2em; /* 1.2 * 16 = 19.2px */
}

section p{
    font-size: 1.2em; /* 1.2 * 19.2px = 23,04px */
}

/* Peligro comun: Acumulación de tamaño no deseado
Componentes que necesitan escalar con el tamaño padre 
*/
