.destacado{
    color: blue;
    font-weight: bold;
}

#importante{
    color: blueviolet;
    font-size: 20px;
}
.fernando{
    background-color: aquamarine;
}
section{
    background-color: green;
}