*{
    padding: 0;
    margin: 0;
}

header, footer{ /*el orden es arriba, abajo, izquierda, derecha*/
    padding: 3%;
    background-color: #333;
    text-align: center;
    color: white;
}

main{
    padding: 5%;
}

body{
    font-size: 1.2rem;
}

section{
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #f0f0f0;
}

@media screen and (max-width:768px){/*max-width, los estilos se aplicarán por debajo del máximo indicado*/
    header{
        background-color: #dfeffc;
    }
    .seccion1{
        background-color: #fff8dc;
    }
    .seccion2{
        background-color: rgb(92, 69, 194);
    }
    .seccion3{
        background-color: rgb(55, 197, 102);
    }
    footer{
        font-size: 1rem;
    }
}